<tr>
        <td class="number"> </td>
        <td class="task-title">
          <a href="<% link_to 'Show', task %>"> <%= task.title %> </a>
          <span class="edit-delete-links"> <%= link_to 'Edit', edit_task_path(task) %> </span>
          <span class="edit-delete-links">  <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %> </span>
        </td>
      </tr>