<h1>Listing tasks</h1>

<h2> Active tasks </h2>
<table class="table table-striped table-hover" id="pending">
  <thead>
    <tr>
      <th> # </th>
      <th> Task </th>
      <th> Completed </th>
    </tr>
  </thead>
  <tbody>
  <% @tasks_pending.each do |task| %>
        <%= render partial: 'index_row', locals: {task: task} %>
    <% end %>
  </tbody>
</table>


<br />
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to 'New Task', new_user_task_path(@user.id) %>
</div>
</div>

<h2> Completed tasks </h2>
  <table class="table table-striped table-hover" id="completed">
    <thead>
      <tr>
        <th> # </th>
        <th> Task </th>
        <th> Completed </th>
      </tr>
    </thead>
    <tbody>
      <% @tasks_completed.each do |task| %>
          <%= render partial: 'index_row', locals: {task: task} %>
      <% end %>
    </tbody>
  </table>